section {
  position: relative;
  width: 100%;
  background-size: cover;
  p.subhead {
    margin: 15px auto;
    font-size: 19px;
  }
}

.hr {
  margin: 30px auto;
  width: 100px;
  height: 1px;
  background-color: $primary;
}

.section-hero {
  min-height: 750px;
  height: 100vh;
  background-position: center;
  text-align: center;
  .subhead {
    margin: 30px auto;
    text-transform: uppercase;
    font-size: 25px;
  }
}

.hero-wrap {
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -45%);
  .button {
    padding: 15px 45px;
    font-size: 16px;
  }
  .inverse {
    margin-left: 15px;
  }
}

.apps {
  margin-top: 40px;
}

.section-help {
  padding: 60px 0;
  text-align: center;
  .h3 {
    margin: 20px auto;
  }
  p {
    color: #ECECEC;
  }
}

.help-wrapper {
  margin-top: 20px;
}

.help-item {
  position: relative;
  margin-top: 30px;
  padding: 0 30px;
  &:not(:last-child)::after {
    position: absolute;
    top: 20%;
    right: 0;
    width: 1px;
    height: 60%;
    background-color: #262626;
    content: '';
  }
}

.section-features {
  padding-top: 20px;
  padding-bottom: 60px;
  .h2 {
    display: inline-block;
    padding-top: 60px;
    border-top: 1px solid #262626;
  }
  .h4 {
    margin-bottom: 15px;
  }
  p {
    color: #fff;
    font-size: 17px;
    opacity: .8;
  }
  .button {
    margin-top: 50px;
  }
}

.feature-item {
  margin-top: 50px;
  padding: 0 10px;
}

.feature-item__icon {
  float: left;
  margin-right: 25px;
}

.feature-item__text {
  display: block;
  overflow: hidden;
}
