section {
  position: relative;
  width: 100%;
  background-size: cover;
  p.subhead {
    margin: 15px auto;
    font-size: 19px;
  }
}

.hr {
  margin: 30px auto;
  width: 100px;
  height: 1px;
  background-color: $primary;
}

.section-hero {
  min-height: 750px;
  height: 100vh;
  background-position: center;
  text-align: center;
  .subhead {
    margin: 30px auto;
    text-transform: uppercase;
    font-size: 25px;
  }
}

.hero-wrap {
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -45%);
  .button {
    padding: 15px 45px;
    font-size: 16px;
  }
  .inverse {
    margin-left: 15px;
  }
}

.apps {
  margin-top: 40px;
}

.section-help {
  padding: 60px 0;
  text-align: center;
  .h3 {
    margin: 20px auto;
  }
  p {
    color: #ECECEC;
  }
}

.help-wrapper {
  margin-top: 20px;
}

.help-item {
  position: relative;
  margin-top: 30px;
  padding: 0 30px;
  &:not(:last-child)::after {
    position: absolute;
    top: 20%;
    right: 0;
    width: 1px;
    height: 60%;
    background-color: #262626;
    content: '';
  }
}

.section-features {
  padding-top: 20px;
  padding-bottom: 60px;
  .h2 {
    display: inline-block;
    padding-top: 60px;
    border-top: 1px solid #262626;
  }
  .h4 {
    margin-bottom: 15px;
  }
  p {
    color: #fff;
    font-size: 17px;
    opacity: .8;
  }
  .button {
    margin-top: 50px;
  }
}

.feature-item {
  margin-top: 50px;
  padding: 0 10px;
}

.feature-item__icon {
  float: left;
  margin-right: 25px;
}

.feature-item__text {
  display: block;
  overflow: hidden;
}

.stripe-box {
  padding: 30px 0;
  width: 100%;
  background-color: #303030;
  background-image: linear-gradient(to right, #303030 0%, #020202 100%);
  &.inverse {
    margin-top: 20px;
    padding: 40px 0;
    background-image: linear-gradient(to right, #020202 0%, #303030 100%);
    .stripe-box-wrapper {
      justify-content: center;
    }
    .stripe-box__text {
      max-width: 510px;
    }
    .stripe-box__image {
      margin-right: 50px;
      margin-left: 0;
    }
  }
  .button {
    margin-top: 25px;
    padding: 15px 60px;
  }
}

.stripe-box-wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.stripe-box__text {
  max-width: 910px;
  p {
    margin-top: 30px;
    font-size: 17px;
    opacity: .8;
  }
}

.stripe-box__image {
  margin-left: 20px;
}

.stripe-box__link {
  color: $primary;
  text-transform: uppercase;
  font-size: 16px;
  &:hover {
    color: $primary;
  }
}

.section-pricing {
  padding: 60px 0;
}

.plans-wrapper {
  margin: 60px 0;
  .row {
    align-items: center;
  }
}

.plan-box {
  margin: auto;
  width: 95%;
  background-color: #fff;
  color: #000;
  text-align: center;
  transition: transform .3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    .plan-box__head {
      background-color: $primary;
      &::after {
        position: absolute;
        bottom: -15px;
        left: 50%;
        z-index: 2;
        content: '';
        transform: translate(-50%, 0);

        @include triangle(30px, $primary, down);
      }
    }
  }
}

.plan-box__head {
  position: relative;
  padding: 20px;
  border-bottom: 2px solid $primary;
  background-color: rgba(242, 200, 27, .2);
  text-transform: uppercase;
  font-size: 27px;
  line-height: 1.2;
  transition: background-color .3s ease-in-out;
}

.plan-box__body {
  strong {
    display: block;
    font-weight: 400;
    font-size: 24px;
  }
  span {
    display: block;
    font-weight: 300;
    font-size: 20px;
  }
}

.plan-box__feature {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  &:nth-child(odd) {
    background-color: #F5F6F9;
  }
}

.plan-box__bottom {
  padding: 25px 0;
  .more {
    display: block;
    margin-top: 10px;
    color: #000;
    font-weight: 600;
    font-size: 15px;
  }
}

.features-item {
  margin-top: 20px;
  padding: 0 10px;
}

.features-bottom__icon {
  display: inline-block;
  margin-right: 5px;
}

.features-bottom__text {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
}

.section-reviews {
  padding: 60px 0;
}
