/* Typography */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1, .h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
}

h2, .h2 {
  font-weight: 300;
  font-size: 45px;
}

h3, .h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
}

h4, .h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
}

h5, .h5 {
  font-size: 34px;
}
